1. It will be used to predict whether a high-value customer will churn or not, in near future (i.e. churn phase). By knowing this, the company can take action steps such as providing special plans, discounts on recharge etc.
2. It will be used to identify important variables that are strong predictors of churn. These variables may also indicate why customers choose to switch to other networks.
3. Even though overall accuracy will be your primary evaluation metric, you should also mention other metrics like precision, recall, etc. for the different models that can be used for evaluation purposes based on different business objectives. For example, in this problem statement, one business goal can be to build an ML model that identifies customers who'll definitely churn with more accuracy as compared to the ones who'll not churn. Make sure you mention which metric can be used in such scenarios.
4. Recommend strategies to manage customer churn based on your observations.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# 1. Load and Review data

In [2]:
tc_df=pd.read_csv('train.csv')

In [3]:
tc_df.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.0,0.0,0.0,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.0,0.0,0.0,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.0,0.0,0.0,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.0,0.0,0.0,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [4]:
tc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Columns: 172 entries, id to churn_probability
dtypes: float64(135), int64(28), object(9)
memory usage: 91.9+ MB

In [5]:
tc_df.describe()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
count,69999.000000,69999.0,69297.0,69297.0,69297.0,69999.000000,69999.000000,69999.000000,67231.000000,67312.000000,...,69999.000000,69999.000000,17568.000000,17865.000000,18417.000000,69999.000000,69999.000000,69999.000000,69999.00000,69999.000000
mean,34999.000000,109.0,0.0,0.0,0.0,283.134365,278.185912,278.858826,133.153275,133.894438,...,0.081444,0.085487,0.916325,0.909544,0.890319,1220.639709,68.108597,65.935830,60.07674,0.101887
std,20207.115084,0.0,0.0,0.0,0.0,334.213918,344.366927,351.924315,299.963093,311.277193,...,0.634547,0.680035,0.276907,0.286842,0.312501,952.426321,269.328659,267.899034,257.22681,0.302502
min,0.000000,109.0,0.0,0.0,0.0,-2258.709000,-1289.715000,-945.808000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.00000,0.000000
25%,17499.500000,109.0,0.0,0.0,0.0,93.581000,86.714000,84.095000,7.410000,6.675000,...,0.000000,0.000000,1.000000,1.000000,1.000000,468.000000,0.000000,0.000000,0.00000,0.000000
50%,34999.000000,109.0,0.0,0.0,0.0,197.484000,191.588000,192.234000,34.110000,32.280000,...,0.000000,0.000000,1.000000,1.000000,1.000000,868.000000,0.000000,0.000000,0.00000,0.000000
75%,52498.500000,109.0,0.0,0.0,0.0,370.791000,365.369500,369.909000,119.390000,115.837500,...,0.000000,0.000000,1.000000,1.000000,1.000000,1813.000000,0.000000,0.000000,0.00000,0.000000
max,69998.000000,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,7376.710000,8157.780000,...,33.000000,41.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.21000,1.000000

In [6]:
#save a copy of the current data 
tc_backup_df=tc_df.copy()

In [7]:
#identify the percentage of null/ missing values values
def perMissingValue(df):
    df_null=pd.DataFrame(round(df.isnull().sum()/len(df.index)*100,2).sort_values(ascending=False),columns=['Missing /Null %'])
    df_null.index.name='Variables'
    # variables which have null values
    print(df_null[df_null['Missing /Null %']>0])
    return df_null[df_null['Missing /Null %']>0]

In [10]:
pd.set_option("display.max_columns", 300)
pd.set_option("display.max_rows", 300)
df_nullper=perMissingValue(tc_df)

                          Missing /Null %
Variables
arpu_3g_6                           74.90
count_rech_2g_6                     74.90
night_pck_user_6                    74.90
arpu_2g_6                           74.90
date_of_last_rech_data_6            74.90
total_rech_data_6                   74.90
av_rech_amt_data_6                  74.90
max_rech_data_6                     74.90
count_rech_3g_6                     74.90
fb_user_6                           74.90
night_pck_user_7                    74.48
date_of_last_rech_data_7            74.48
total_rech_data_7                   74.48
max_rech_data_7                     74.48
fb_user_7                           74.48
count_rech_2g_7                     74.48
count_rech_3g_7                     74.48
arpu_3g_7                           74.48
av_rech_amt_data_7                  74.48
arpu_2g_7                           74.48
count_rech_2g_8                     73.69
av_rech_amt_data_8                  73.69
night_pck_user_8                    73.69
max_rech_data_8                     73.69
total_rech_data_8                   73.69
arpu_2g_8                           73.69
arpu_3g_8                           73.69
date_of_last_rech_data_8            73.69
fb_user_8                           73.69
count_rech_3g_8                     73.69
isd_og_mou_8                         5.29
std_ic_t2o_mou_8                     5.29
std_og_t2c_mou_8                     5.29
std_ic_t2f_mou_8                     5.29
std_og_mou_8                         5.29
std_ic_t2m_mou_8                     5.29
std_ic_mou_8                         5.29
std_ic_t2t_mou_8                     5.29
og_others_8                          5.29
spl_og_mou_8                         5.29
loc_ic_t2m_mou_8                     5.29
loc_ic_mou_8                         5.29
loc_ic_t2f_mou_8                     5.29
std_og_t2f_mou_8                     5.29
loc_og_t2c_mou_8                     5.29
ic_others_8                          5.29
loc_og_mou_8                         5.29
onnet_mou_8                          5.29
offnet_mou_8                         5.29
roam_ic_mou_8                        5.29
roam_og_mou_8                        5.29
loc_og_t2t_mou_8                     5.29
loc_og_t2m_mou_8                     5.29
loc_og_t2f_mou_8                     5.29
std_og_t2m_mou_8                     5.29
loc_ic_t2t_mou_8                     5.29
isd_ic_mou_8                         5.29
std_og_t2t_mou_8                     5.29
spl_ic_mou_8                         5.29
std_ic_t2m_mou_6                     3.95
std_ic_t2t_mou_6                     3.95
loc_ic_t2m_mou_6                     3.95
ic_others_6                          3.95
loc_ic_mou_6                         3.95
std_ic_t2f_mou_6                     3.95
isd_ic_mou_6                         3.95
std_ic_mou_6                         3.95
spl_ic_mou_6                         3.95
std_ic_t2o_mou_6                     3.95
loc_ic_t2f_mou_6                     3.95
isd_og_mou_6                         3.95
std_og_t2m_mou_6                     3.95
std_og_t2f_mou_6                     3.95
loc_og_mou_6                         3.95
loc_og_t2c_mou_6                     3.95
std_og_t2c_mou_6                     3.95
loc_og_t2f_mou_6                     3.95
loc_og_t2m_mou_6                     3.95
std_og_mou_6                         3.95
loc_og_t2t_mou_6                     3.95
std_og_t2t_mou_6                     3.95
loc_ic_t2t_mou_6                     3.95
spl_og_mou_6                         3.95
onnet_mou_6                          3.95
roam_ic_mou_6                        3.95
og_others_6                          3.95
roam_og_mou_6                        3.95
offnet_mou_6                         3.95
roam_og_mou_7                        3.84
ic_others_7                          3.84
loc_og_mou_7                         3.84
onnet_mou_7                          3.84
loc_ic_t2t_mou_7                     3.84
loc_og_t2f_mou_7                     3.84
loc_og_t2c_mou_7                     3.84
offnet_mou_7                         3.84
loc_og_t2m_mou_7                     3.84
roam_ic_mou_7                        3.84
std_og_t2t_mou_7                     3.84
loc_og_t2t_mou_7                     3.84
loc_ic_t2m_mou_7                     3.84
isd_ic_mou_7                         3.84
loc_ic_t2f_mou_7                     3.84
loc_ic_mou_7                         3.84
spl_og_mou_7                         3.84
std_ic_t2t_mou_7                     3.84
isd_og_mou_7                         3.84
std_ic_t2m_mou_7                     3.84
std_og_mou_7                         3.84
std_ic_t2f_mou_7                     3.84
std_og_t2m_mou_7                     3.84
std_ic_t2o_mou_7                     3.84
std_og_t2c_mou_7                     3.84
std_ic_mou_7                         3.84
std_og_t2f_mou_7                     3.84
og_others_7                          3.84
spl_ic_mou_7                         3.84
date_of_last_rech_8                  3.52
date_of_last_rech_7                  1.76
date_of_last_rech_6                  1.57
last_date_of_month_8                 1.05
loc_ic_t2o_mou                       1.00
std_og_t2o_mou                       1.00
loc_og_t2o_mou                       1.00
last_date_of_month_7                 0.57

In [24]:
tc_df[list(df_nullper[df_nullper['Missing /Null %']>30].index)]

,arpu_3g_6,count_rech_2g_6,night_pck_user_6,arpu_2g_6,date_of_last_rech_data_6,total_rech_data_6,av_rech_amt_data_6,max_rech_data_6,count_rech_3g_6,fb_user_6,night_pck_user_7,date_of_last_rech_data_7,total_rech_data_7,max_rech_data_7,fb_user_7,count_rech_2g_7,count_rech_3g_7,arpu_3g_7,av_rech_amt_data_7,arpu_2g_7,count_rech_2g_8,av_rech_amt_data_8,night_pck_user_8,max_rech_data_8,total_rech_data_8,arpu_2g_8,arpu_3g_8,date_of_last_rech_data_8,fb_user_8,count_rech_3g_8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7/8/2014,1.0,145.0,1.0,0.0,1.0,122.07,145.0,122.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.00,7.0,0.0,0.00,6/25/2014,7.0,175.0,25.0,0.0,1.0,0.0,7/23/2014,7.0,41.0,1.0,6.0,1.0,35.00,191.0,35.12,6.0,142.0,0.0,25.0,6.0,0.00,0.00,8/20/2014,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,7/31/2014,7.0,25.0,1.0,6.0,1.0,21.91,135.0,60.61,1.0,17.0,0.0,17.0,1.0,48.00,0.00,8/21/2014,1.0,0.0
69995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69997,150.67,0.0,0.0,150.67,6/17/2014,1.0,179.0,179.0,1.0,1.0,0.0,7/13/2014,1.0,252.0,1.0,0.0,1.0,212.18,252.0,212.17,0.0,145.0,0.0,145.0,1.0,122.07,122.08,8/14/2014,1.0,1.0
69998,0.00,1.0,0.0,0.00,6/19/2014,1.0,198.0,198.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,198.0,0.0,198.0,1.0,0.02,0.00,8/8/2014,1.0,0.0

In [26]:
col_to_drop=['last_date_of_month_6','last_date_of_month_7','last_date_of_month_8']
for column in list(df_nullper[df_nullper['Missing /Null %']>70].index):
    print(column)
    col_to_drop.append(column)
    print(tc_df[column].value_counts())

arpu_3g_6
0.00      7617
212.17     501
0.01       317
122.07     295
63.96      214
          ...
40.96        1
376.46       1
151.84       1
882.14       1
80.53        1
Name: arpu_3g_6, Length: 5506, dtype: int64
count_rech_2g_6
1.0     7589
0.0     4145
2.0     2274
3.0     1027
4.0      677
5.0      446
6.0      334
7.0      254
8.0      206
9.0      159
10.0     135
11.0      93
12.0      80
14.0      35
13.0      35
15.0      19
16.0      14
17.0      12
19.0       7
22.0       5
18.0       5
20.0       4
21.0       4
25.0       3
42.0       1
30.0       1
28.0       1
24.0       1
32.0       1
34.0       1
Name: count_rech_2g_6, dtype: int64
night_pck_user_6
0.0    17124
1.0      444
Name: night_pck_user_6, dtype: int64
arpu_2g_6
0.00      4610
212.17     904
122.07     377
0.01       291
63.96      283
          ...
138.26       1
23.23        1
80.33        1
31.55        1
279.26       1
Name: arpu_2g_6, Length: 5389, dtype: int64
date_of_last_rech_data_6
6/30/2014    1317
6/29/2014    1148
6/28/2014    1126
6/26/2014     988
6/27/2014     913
6/25/2014     797
6/24/2014     724
6/22/2014     638
6/23/2014     633
6/21/2014     612
6/17/2014     600
6/19/2014     561
6/20/2014     542
6/18/2014     536
6/14/2014     523
6/16/2014     513
6/15/2014     472
6/12/2014     445
6/13/2014     441
6/11/2014     438
6/10/2014     437
6/9/2014      429
6/5/2014      423
6/6/2014      422
6/8/2014      360
6/7/2014      351
6/3/2014      340
6/4/2014      323
6/2/2014      291
6/1/2014      225
Name: date_of_last_rech_data_6, dtype: int64
total_rech_data_6
1.0     9289
2.0     3610
3.0     1457
4.0      928
5.0      560
6.0      413
7.0      310
8.0      248
9.0      174
10.0     145
11.0     114
12.0      96
14.0      47
13.0      42
15.0      24
17.0      21
16.0      21
18.0      11
20.0      11
22.0       9
19.0       7
23.0       4
24.0       4
21.0       4
25.0       4
32.0       2
40.0       2
29.0       2
35.0       2
46.0       1
28.0       1
27.0       1
26.0       1
33.0       1
61.0       1
34.0       1
Name: total_rech_data_6, dtype: int64
av_rech_amt_data_6
154.0     2586
252.0     1352
198.0      767
25.0       679
98.0       547
          ...
163.5        1
718.0        1
62.5         1
1299.0       1
11.0         1
Name: av_rech_amt_data_6, Length: 792, dtype: int64
max_rech_data_6
154.0     3406
25.0      3099
252.0     2217
98.0      1000
198.0      974
17.0       890
23.0       761
145.0      737
152.0      640
14.0       461
91.0       365
179.0      360
41.0       356
46.0       308
177.0      227
149.0      226
56.0       205
274.0      199
49.0       198
455.0      136
125.0      122
33.0       118
8.0        113
202.0       93
655.0       64
505.0       49
449.0       41
1.0         34
29.0        26
755.0       24
101.0       20
951.0       17
5.0         15
855.0       11
52.0        10
22.0         9
1555.0       8
13.0         7
9.0          5
48.0         4
61.0         3
295.0        3
15.0         2
1255.0       2
148.0        1
1505.0       1
495.0        1
Name: max_rech_data_6, dtype: int64
count_rech_3g_6
0.0     11020
1.0      4707
2.0      1070
3.0       369
4.0       138
5.0        84
7.0        44
6.0        42
8.0        24
9.0        18
10.0       13
11.0       11
19.0        4
15.0        4
12.0        4
13.0        3
23.0        3
17.0        2
14.0        2
22.0        2
29.0        2
16.0        1
18.0        1
Name: count_rech_3g_6, dtype: int64
fb_user_6
1.0    16098
0.0     1470
Name: fb_user_6, dtype: int64
night_pck_user_7
0.0    17435
1.0      430
Name: night_pck_user_7, dtype: int64
date_of_last_rech_data_7
7/31/2014    1282
7/29/2014    1200
7/30/2014    1178
7/28/2014    1131
7/26/2014     857
7/27/2014     839
7/25/2014     716
7/24/2014     613
7/23/2014     584
7/21/2014     572
7/22/2014     568
7/14/2014     551
7/18/2014     528
7/19/2014     512
7/12/2014     482
7/17/2014     481
7/16/2014     477
7/7/2014      473
7/20/2014     471
7/9/2014      448
7/13/2014     441
7/10/2014     431
7/15/2014     427
7/8/2014      425
7/11/2014     387
7/5/2014      381
7/4/2014      349
7/6/2014      343
7/3/2014      273
7/1/2014      226
7/2/2014      219
Name: date_of_last_rech_data_7, dtype: int64
total_rech_data_7
1.0     8900
2.0     3642
3.0     1478
4.0     1041
5.0      713
6.0      506
7.0      370
8.0      299
10.0     201
9.0      189
11.0     149
12.0     113
14.0      49
13.0      49
15.0      33
16.0      26
17.0      13
19.0      13
20.0      12
18.0      10
24.0       8
22.0       7
23.0       7
21.0       6
25.0       4
26.0       4
31.0       3
30.0       2
32.0       2
43.0       2
48.0       2
35.0       2
27.0       2
37.0       1
39.0       1
29.0       1
34.0       1
42.0       1
54.0       1
50.0       1
40.0       1
Name: total_rech_data_7, dtype: int64
max_rech_data_7
154.0     3451
25.0      3117
252.0     2271
17.0      1096
198.0     1093
98.0      1019
23.0       854
145.0      637
152.0      616
179.0      402
46.0       378
41.0       339
91.0       315
14.0       253
274.0      245
149.0      215
56.0       207
177.0      198
49.0       188
455.0      165
33.0       130
8.0        120
202.0       89
125.0       87
655.0       60
48.0        47
449.0       38
1.0         34
5.0         27
29.0        25
505.0       23
101.0       22
755.0       19
951.0       17
855.0       13
13.0        12
22.0         9
52.0         8
1555.0       8
1255.0       5
9.0          4
15.0         3
61.0         3
295.0        2
995.0        1
Name: max_rech_data_7, dtype: int64
fb_user_7
1.0    16249
0.0     1616
Name: fb_user_7, dtype: int64
count_rech_2g_7
1.0     7350
0.0     4022
2.0     2334
3.0     1063
4.0      784
5.0      606
6.0      427
7.0      314
8.0      244
10.0     180
9.0      144
11.0     118
12.0      95
14.0      41
13.0      36
15.0      27
16.0      14
19.0      11
18.0      10
17.0       8
20.0       7
23.0       6
22.0       5
21.0       5
27.0       3
26.0       3
32.0       2
35.0       1
24.0       1
30.0       1
25.0       1
48.0       1
43.0       1
Name: count_rech_2g_7, dtype: int64
count_rech_3g_7
0.0     11412
1.0      4394
2.0      1216
3.0       362
4.0       157
5.0       101
6.0        67
7.0        42
8.0        25
9.0        16
10.0       15
11.0       11
12.0       10
15.0        6
14.0        6
13.0        4
18.0        3
20.0        3
24.0        2
17.0        2
16.0        2
19.0        2
22.0        2
21.0        2
34.0        1
31.0        1
23.0        1
Name: count_rech_3g_7, dtype: int64
arpu_3g_7
0.00      7795
212.17     532
0.01       459
122.07     231
63.96      191
          ...
151.22       1
25.57        1
142.67       1
104.39       1
125.47       1
Name: arpu_3g_7, Length: 5389, dtype: int64
av_rech_amt_data_7
154.0     2592
252.0     1319
198.0      785
25.0       579
98.0       549
          ...
1605.0       1
618.0        1
1322.0       1
992.0        1
472.0        1
Name: av_rech_amt_data_7, Length: 837, dtype: int64
arpu_2g_7
0.00      5202
212.17     956
0.01       442
122.07     300
63.96      265
          ...
20.93        1
11.60        1
163.52       1
70.16        1
134.50       1
Name: arpu_2g_7, Length: 5056, dtype: int64
count_rech_2g_8
1.0     7589
0.0     4243
2.0     2303
3.0     1119
4.0      841
5.0      624
6.0      463
7.0      297
8.0      255
9.0      162
10.0     132
11.0     111
12.0      90
13.0      42
14.0      41
16.0      24
15.0      21
18.0      11
17.0      10
20.0       8
19.0       7
24.0       4
22.0       4
29.0       3
23.0       2
21.0       2
32.0       2
27.0       2
31.0       1
44.0       1
25.0       1
26.0       1
34.0       1
Name: count_rech_2g_8, dtype: int64
av_rech_amt_data_8
154.00     2304
252.00     1436
198.00      844
25.00       755
17.00       574
           ...
413.00        1
92.50         1
59.66         1
859.00        1
2506.00       1
Name: av_rech_amt_data_8, Length: 855, dtype: int64
night_pck_user_8
0.0    18030
1.0      387
Name: night_pck_user_8, dtype: int64
max_rech_data_8
25.0      3242
154.0     3021
252.0     2402
23.0      1293
198.0     1179
17.0      1162
98.0      1011
145.0      648
152.0      530
179.0      506
46.0       376
41.0       335
91.0       299
175.0      291
274.0      230
56.0       229
455.0      199
49.0       192
14.0       175
149.0      160
164.0      135
33.0        97
8.0         91
202.0       81
177.0       63
655.0       62
125.0       55
48.0        53
449.0       43
29.0        37
1.0         32
248.0       26
5.0         23
101.0       18
755.0       17
951.0       17
505.0       17
13.0        16
22.0        15
855.0       12
52.0         9
1555.0       8
295.0        3
495.0        2
1255.0       1
675.0        1
61.0         1
15.0         1
1505.0       1
Name: max_rech_data_8, dtype: int64
total_rech_data_8
1.0     9308
2.0     3639
3.0     1559
4.0     1110
5.0      706
6.0      545
7.0      365
8.0      289
9.0      195
10.0     173
11.0     135
12.0     106
13.0      63
14.0      49
16.0      29
15.0      28
17.0      24
18.0      18
19.0      11
22.0       8
20.0       7
23.0       5
26.0       5
21.0       4
25.0       4
29.0       4
24.0       3
30.0       3
27.0       2
44.0       2
40.0       2
42.0       2
46.0       2
32.0       2
34.0       1
33.0       1
39.0       1
28.0       1
55.0       1
50.0       1
60.0       1
37.0       1
38.0       1
49.0       1
Name: total_rech_data_8, dtype: int64
arpu_2g_8
0.00      5567
212.17    1029
0.01       366
122.07     309
150.67     249
          ...
5.28         1
224.13       1
49.30        1
129.08       1
48.00        1
Name: arpu_2g_8, Length: 5132, dtype: int64
arpu_3g_8
0.00      7852
212.17     510
0.01       460
122.07     211
21.91      189
          ...
297.60       1
10.15        1
262.29       1
67.15        1
91.89        1
Name: arpu_3g_8, Length: 5816, dtype: int64
date_of_last_rech_data_8
8/31/2014    1388
8/30/2014    1306
8/29/2014    1145
8/28/2014     876
8/27/2014     824
8/25/2014     806
8/26/2014     778
8/24/2014     713
8/23/2014     631
8/19/2014     613
8/16/2014     535
8/20/2014     535
8/15/2014     526
8/14/2014     524
8/11/2014     520
8/21/2014     515
8/22/2014     513
8/18/2014     501
8/9/2014      488
8/10/2014     483
8/13/2014     459
8/8/2014      454
8/17/2014     453
8/6/2014      432
8/12/2014     422
8/7/2014      390
8/5/2014      379
8/4/2014      378
8/3/2014      316
8/2/2014      290
8/1/2014      224
Name: date_of_last_rech_data_8, dtype: int64
fb_user_8
1.0    16397
0.0     2020
Name: fb_user_8, dtype: int64
count_rech_3g_8
0.0     11624
1.0      4668
2.0      1221
3.0       410
4.0       170
5.0        99
6.0        56
7.0        41
8.0        30
9.0        19
10.0       16
11.0       12
12.0       10
13.0        9
16.0        5
15.0        5
18.0        3
20.0        3
17.0        3
14.0        3
23.0        2
30.0        1
45.0        1
25.0        1
29.0        1
21.0        1
19.0        1
42.0        1
24.0        1
Name: count_rech_3g_8, dtype: int64

In [27]:
# columns to drop which have more than 70% missing values 
tc_df=tc_df.drop(col_to_drop,axis=1)

In [29]:
tc_df.shape

(69999, 139)

In [37]:
perMissingValue(tc_df)

                     Missing /Null %
Variables
loc_og_mou_8                    5.29
loc_og_t2t_mou_8                5.29
std_ic_t2o_mou_8                5.29
loc_og_t2f_mou_8                5.29
loc_og_t2c_mou_8                5.29
std_ic_t2f_mou_8                5.29
std_og_t2t_mou_8                5.29
std_og_t2m_mou_8                5.29
std_og_t2f_mou_8                5.29
std_ic_t2m_mou_8                5.29
std_og_t2c_mou_8                5.29
std_og_mou_8                    5.29
isd_og_mou_8                    5.29
std_ic_t2t_mou_8                5.29
spl_og_mou_8                    5.29
og_others_8                     5.29
loc_ic_mou_8                    5.29
loc_ic_t2t_mou_8                5.29
loc_ic_t2f_mou_8                5.29
loc_og_t2m_mou_8                5.29
loc_ic_t2m_mou_8                5.29
offnet_mou_8                    5.29
std_ic_mou_8                    5.29
onnet_mou_8                     5.29
spl_ic_mou_8                    5.29
ic_others_8                     5.29
roam_ic_mou_8                   5.29
roam_og_mou_8                   5.29
isd_ic_mou_8                    5.29
loc_ic_t2t_mou_6                3.95
isd_ic_mou_6                    3.95
spl_og_mou_6                    3.95
std_ic_t2f_mou_6                3.95
onnet_mou_6                     3.95
std_ic_t2m_mou_6                3.95
isd_og_mou_6                    3.95
og_others_6                     3.95
loc_ic_mou_6                    3.95
std_og_mou_6                    3.95
offnet_mou_6                    3.95
loc_og_t2t_mou_6                3.95
std_og_t2c_mou_6                3.95
std_og_t2f_mou_6                3.95
loc_ic_t2f_mou_6                3.95
loc_og_t2m_mou_6                3.95
std_ic_mou_6                    3.95
loc_og_t2f_mou_6                3.95
roam_og_mou_6                   3.95
loc_og_t2c_mou_6                3.95
loc_og_mou_6                    3.95
std_ic_t2o_mou_6                3.95
std_og_t2t_mou_6                3.95
spl_ic_mou_6                    3.95
roam_ic_mou_6                   3.95
std_og_t2m_mou_6                3.95
loc_ic_t2m_mou_6                3.95
ic_others_6                     3.95
std_ic_t2t_mou_6                3.95
ic_others_7                     3.84
loc_ic_mou_7                    3.84
std_ic_mou_7                    3.84
std_ic_t2t_mou_7                3.84
isd_ic_mou_7                    3.84
std_ic_t2m_mou_7                3.84
spl_ic_mou_7                    3.84
std_ic_t2f_mou_7                3.84
std_ic_t2o_mou_7                3.84
loc_ic_t2f_mou_7                3.84
og_others_7                     3.84
roam_ic_mou_7                   3.84
std_og_t2m_mou_7                3.84
onnet_mou_7                     3.84
offnet_mou_7                    3.84
loc_ic_t2m_mou_7                3.84
roam_og_mou_7                   3.84
loc_og_t2t_mou_7                3.84
loc_og_t2m_mou_7                3.84
loc_og_t2c_mou_7                3.84
loc_og_mou_7                    3.84
std_og_t2t_mou_7                3.84
loc_og_t2f_mou_7                3.84
std_og_t2f_mou_7                3.84
std_og_mou_7                    3.84
isd_og_mou_7                    3.84
spl_og_mou_7                    3.84
std_og_t2c_mou_7                3.84
loc_ic_t2t_mou_7                3.84
date_of_last_rech_8             3.52
date_of_last_rech_7             1.76
date_of_last_rech_6             1.57
loc_og_t2o_mou                  1.00
std_og_t2o_mou                  1.00
loc_ic_t2o_mou                  1.00

                     Missing /Null %
Variables
loc_og_mou_8                    5.29
loc_og_t2t_mou_8                5.29
std_ic_t2o_mou_8                5.29
loc_og_t2f_mou_8                5.29
loc_og_t2c_mou_8                5.29
std_ic_t2f_mou_8                5.29
std_og_t2t_mou_8                5.29
std_og_t2m_mou_8                5.29
std_og_t2f_mou_8                5.29
std_ic_t2m_mou_8                5.29
std_og_t2c_mou_8                5.29
std_og_mou_8                    5.29
isd_og_mou_8                    5.29
std_ic_t2t_mou_8                5.29
spl_og_mou_8                    5.29
og_others_8                     5.29
loc_ic_mou_8                    5.29
loc_ic_t2t_mou_8                5.29
loc_ic_t2f_mou_8                5.29
loc_og_t2m_mou_8                5.29
loc_ic_t2m_mou_8                5.29
offnet_mou_8                    5.29
std_ic_mou_8                    5.29
onnet_mou_8                     5.29
spl_ic_mou_8                    5.29
ic_others_8                     5.29
roam_ic_mou_8                   5.29
roam_og_mou_8                   5.29
isd_ic_mou_8                    5.29
loc_ic_t2t_mou_6                3.95
isd_ic_mou_6                    3.95
spl_og_mou_6                    3.95
std_ic_t2f_mou_6                3.95
onnet_mou_6                     3.95
std_ic_t2m_mou_6                3.95
isd_og_mou_6                    3.95
og_others_6                     3.95
loc_ic_mou_6                    3.95
std_og_mou_6                    3.95
offnet_mou_6                    3.95
loc_og_t2t_mou_6                3.95
std_og_t2c_mou_6                3.95
std_og_t2f_mou_6                3.95
loc_ic_t2f_mou_6                3.95
loc_og_t2m_mou_6                3.95
std_ic_mou_6                    3.95
loc_og_t2f_mou_6                3.95
roam_og_mou_6                   3.95
loc_og_t2c_mou_6                3.95
loc_og_mou_6                    3.95
std_ic_t2o_mou_6                3.95
std_og_t2t_mou_6                3.95
spl_ic_mou_6                    3.95
roam_ic_mou_6                   3.95
std_og_t2m_mou_6                3.95
loc_ic_t2m_mou_6                3.95
ic_others_6                     3.95
std_ic_t2t_mou_6                3.95
ic_others_7                     3.84
loc_ic_mou_7                    3.84
std_ic_mou_7                    3.84
std_ic_t2t_mou_7                3.84
isd_ic_mou_7                    3.84
std_ic_t2m_mou_7                3.84
spl_ic_mou_7                    3.84
std_ic_t2f_mou_7                3.84
std_ic_t2o_mou_7                3.84
loc_ic_t2f_mou_7                3.84
og_others_7                     3.84
roam_ic_mou_7                   3.84
std_og_t2m_mou_7                3.84
onnet_mou_7                     3.84
offnet_mou_7                    3.84
loc_ic_t2m_mou_7                3.84
roam_og_mou_7                   3.84
loc_og_t2t_mou_7                3.84
loc_og_t2m_mou_7                3.84
loc_og_t2c_mou_7                3.84
loc_og_mou_7                    3.84
std_og_t2t_mou_7                3.84
loc_og_t2f_mou_7                3.84
std_og_t2f_mou_7                3.84
std_og_mou_7                    3.84
isd_og_mou_7                    3.84
spl_og_mou_7                    3.84
std_og_t2c_mou_7                3.84
loc_ic_t2t_mou_7                3.84
date_of_last_rech_8             3.52
date_of_last_rech_7             1.76
date_of_last_rech_6             1.57
loc_og_t2o_mou                  1.00
std_og_t2o_mou                  1.00
loc_ic_t2o_mou                  1.00

In [40]:
#Filter High Value customer
tc_df['avg_amt_rech_6_7']= (tc_df['total_rech_amt_6']+tc_df['total_rech_amt_7'])/2

In [43]:
# finding the 70th perc of the avg_amt_rech_6_7
q7=tc_df['avg_amt_rech_6_7'].quantile(0.70)
q7

370.0

In [44]:
# filter the customers who have recharged more than q7
tc_df=tc_df[tc_df['avg_amt_rech_6_7']>=q7]

In [45]:
tc_df.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_og_mou_6,roam_og_mou_7,roam_og_mou_8,loc_og_t2t_mou_6,loc_og_t2t_mou_7,loc_og_t2t_mou_8,loc_og_t2m_mou_6,loc_og_t2m_mou_7,loc_og_t2m_mou_8,loc_og_t2f_mou_6,loc_og_t2f_mou_7,loc_og_t2f_mou_8,loc_og_t2c_mou_6,loc_og_t2c_mou_7,loc_og_t2c_mou_8,loc_og_mou_6,loc_og_mou_7,loc_og_mou_8,std_og_t2t_mou_6,std_og_t2t_mou_7,std_og_t2t_mou_8,std_og_t2m_mou_6,std_og_t2m_mou_7,std_og_t2m_mou_8,std_og_t2f_mou_6,std_og_t2f_mou_7,std_og_t2f_mou_8,std_og_t2c_mou_6,std_og_t2c_mou_7,std_og_t2c_mou_8,std_og_mou_6,std_og_mou_7,std_og_mou_8,isd_og_mou_6,isd_og_mou_7,isd_og_mou_8,spl_og_mou_6,spl_og_mou_7,spl_og_mou_8,og_others_6,og_others_7,og_others_8,total_og_mou_6,total_og_mou_7,total_og_mou_8,loc_ic_t2t_mou_6,loc_ic_t2t_mou_7,loc_ic_t2t_mou_8,loc_ic_t2m_mou_6,loc_ic_t2m_mou_7,loc_ic_t2m_mou_8,loc_ic_t2f_mou_6,loc_ic_t2f_mou_7,loc_ic_t2f_mou_8,loc_ic_mou_6,loc_ic_mou_7,loc_ic_mou_8,std_ic_t2t_mou_6,std_ic_t2t_mou_7,std_ic_t2t_mou_8,std_ic_t2m_mou_6,std_ic_t2m_mou_7,std_ic_t2m_mou_8,std_ic_t2f_mou_6,std_ic_t2f_mou_7,std_ic_t2f_mou_8,std_ic_t2o_mou_6,std_ic_t2o_mou_7,std_ic_t2o_mou_8,std_ic_mou_6,std_ic_mou_7,std_ic_mou_8,total_ic_mou_6,total_ic_mou_7,total_ic_mou_8,spl_ic_mou_6,spl_ic_mou_7,spl_ic_mou_8,isd_ic_mou_6,isd_ic_mou_7,isd_ic_mou_8,ic_others_6,ic_others_7,ic_others_8,total_rech_num_6,total_rech_num_7,total_rech_num_8,total_rech_amt_6,total_rech_amt_7,total_rech_amt_8,max_rech_amt_6,max_rech_amt_7,max_rech_amt_8,date_of_last_rech_6,date_of_last_rech_7,date_of_last_rech_8,last_day_rch_amt_6,last_day_rch_amt_7,last_day_rch_amt_8,vol_2g_mb_6,vol_2g_mb_7,vol_2g_mb_8,vol_3g_mb_6,vol_3g_mb_7,vol_3g_mb_8,monthly_2g_6,monthly_2g_7,monthly_2g_8,sachet_2g_6,sachet_2g_7,sachet_2g_8,monthly_3g_6,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability,avg_amt_rech_6_7
12,12,109,0.0,0.0,0.0,439.919,397.946,392.024,244.46,108.31,42.98,571.98,727.91,644.43,0.0,0.0,0.0,0.0,0.0,0.0,0.00,7.86,3.98,44.01,13.93,51.24,0.00,0.00,0.00,0.0,0.0,0.00,44.01,21.79,55.23,244.46,100.44,38.99,527.96,713.98,593.18,0.0,0.0,0.00,0.0,0.0,0.0,772.43,814.43,632.18,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,816.44,836.23,687.41,0.00,0.53,1.06,26.93,25.68,23.46,0.00,0.00,0.00,26.93,26.21,24.53,0.23,0.00,0.00,7.33,8.64,2.46,0.00,0.48,0.0,0.0,0.0,0.0,7.56,9.13,2.46,34.49,35.34,26.99,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,15,10,20,521,418,365,110,110,50,6/29/2014,7/30/2014,8/30/2014,110,0,0,0.00,0.0,0.00,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,322,0.0,0.0,0.0,0,469.5
15,15,109,0.0,0.0,0.0,580.549,377.294,338.286,10.43,24.99,194.43,317.11,341.79,197.09,0.0,0.0,0.0,0.0,0.0,0.0,10.43,24.99,194.43,313.76,330.88,185.88,3.26,10.91,4.94,0.0,0.0,0.00,327.46,366.79,385.26,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,6.26,0.0,0.0,0.0,0.00,0.00,6.26,0.0,0.0,0.0,0.08,0.00,0.00,0.1,0.0,0.0,327.64,366.79,391.53,13.86,20.18,335.43,219.31,754.24,285.63,0.00,1.93,8.88,233.18,776.36,629.94,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.03,0.0,0.0,0.0,0.0,0.00,1.03,0.00,233.18,777.39,629.94,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,5,3,4,654,400,652,250,250,250,6/27/2014,7/25/2014,8/30/2014,0,150,250,260.42,0.0,354.35,0.0,0.0,0.0,1,0,1,0,0,0,0,0,0,0,0,0,602,0.0,0.0,0.0,0,527.0
23,23,109,0.0,0.0,0.0,1130.948,905.506,479.762,859.53,372.71,0.89,293.46,450.11,386.91,0.0,0.0,0.0,0.0,0.0,0.0,859.53,372.71,0.89,79.79,424.63,378.01,11.58,25.43,8.88,0.0,0.0,0.00,950.91,822.78,387.79,0.00,0.00,0.00,202.08,0.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,202.08,0.00,0.00,0.0,0.0,0.0,0.00,0.05,0.01,0.0,0.0,0.0,1152.99,822.83,387.81,233.28,117.63,30.39,123.78,278.49,148.83,34.31,52.08,23.66,391.38,448.21,202.89,0.00,0.00,0.00,207.03,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,207.03,0.00,0.00,598.54,448.36,203.29,0.13,0.0,0.0,0.00,0.00,0.00,0.0,0.15,0.4,26,19,10,1420,990,494,110,110,144,6/30/2014,7/31/2014,8/22/2014,110,50,30,0.00,0.0,0.00,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,455,0.0,0.0,0.0,0,1205.0
24,24,109,0.0,0.0,0.0,371.974,352.069,240.449,93.18,38.29,29.86,531.19,507.76,222.03,0.0,0.0,0.0,0.0,0.0,0.0,93.18,38.29,29.86,159.29,219.44,99.86,0.00,0.00,0.00,0.0,0.0,0.36,252.48,257.74,129.73,0.00,0.00,0.00,371.89,288.31,121.79,0.0,0.0,0.00,0.0,0.0,0.0,371.89,288.31,121.79,0.0,0.0,0.0,0.00,0.00,0.36,0.0,0.0,0.0,624.38,546.06,251.89,52.49,37.84,19.14,170.61,106.71,150.73,0.00,1.53,1.13,223.11,146.09,171.01,0.00,0.00,0.00,6.96,9.54,21.93,0.00,0.00,0.0,0.0,0.0,0.0,6.96,9.54,21.93,230.08,155.64,192.94,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,7,7,10,440,427,240,110,110,30,6/24/2014,7/25/2014,8/30/2014,110,0,30,0.04,0.0,0.00,0.0,0.0,0.0,0,0,0,1,2,1,0,0,0,0,0,0,1219,0.0,0.0,0.0,0,433.5
25,25,109,0.0,0.0,0.0,362.951,321.763,689.603,193.71,124.53,197.54,423.21,184.88,556.61,0.0,0.0,0.0,0.0,0.0,0.0,49.81,75.01,81.86,164.39,115.48,229.68,3.31,0.00,0.36,0.0,0.0,7.01,217.53,190.49,311.91,143.89,49.51,115.68,255.49,64.99,301.31,0.0,0.0,0.00,0.0,0.0,0.0,399.39,114.51,416.99,0.0,0.0,0.0,0.00,4.40,25.24,0.0,0.0,0.0,616.93,309.41,754.16,113.76,114.98,95.31,230.24,180.11,319.01,26.71,2.01,11.24,370.73,297.11,425.58,0.00,2.18,0.15,25.88,17.49,9.89,0.76,0.00,0.0,0.0,0.0,0.0,26.64,19.68,10.04,401.39,319.08,454.91,0.00,0.0,0.0,4.01,2.28,19.28,0.0,0.00,0.0,8,5,11,330,480,730,110,150,130,6/22/2014,7/29/2014,8/30/2014,110,150,50,0.00,0.0,0.00,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,2831,0.0,0.0,0.0,0,405.0

In [47]:
tc_df.shape

(21018, 140)

In [56]:
perMissingValue(tc_df[list(tc_df.select_dtypes(exclude='object').columns)])

                  Missing /Null %
Variables
loc_og_t2t_mou_8             3.12
roam_og_mou_8                3.12
std_og_t2c_mou_8             3.12
loc_ic_mou_8                 3.12
loc_og_t2m_mou_8             3.12
loc_ic_t2f_mou_8             3.12
loc_ic_t2m_mou_8             3.12
loc_og_t2f_mou_8             3.12
loc_ic_t2t_mou_8             3.12
loc_og_t2c_mou_8             3.12
og_others_8                  3.12
loc_og_mou_8                 3.12
spl_og_mou_8                 3.12
std_og_t2t_mou_8             3.12
isd_og_mou_8                 3.12
std_og_t2m_mou_8             3.12
std_og_mou_8                 3.12
std_ic_t2t_mou_8             3.12
std_og_t2f_mou_8             3.12
spl_ic_mou_8                 3.12
roam_ic_mou_8                3.12
ic_others_8                  3.12
std_ic_t2f_mou_8             3.12
offnet_mou_8                 3.12
std_ic_t2o_mou_8             3.12
isd_ic_mou_8                 3.12
onnet_mou_8                  3.12
std_ic_t2m_mou_8             3.12
std_ic_mou_8                 3.12
std_ic_t2m_mou_6             1.06
std_og_mou_6                 1.06
ic_others_6                  1.06
isd_og_mou_6                 1.06
isd_ic_mou_6                 1.06
spl_og_mou_6                 1.06
std_ic_mou_6                 1.06
spl_ic_mou_6                 1.06
loc_ic_t2t_mou_6             1.06
loc_ic_t2m_mou_6             1.06
std_ic_t2o_mou_6             1.06
loc_ic_mou_6                 1.06
std_ic_t2f_mou_6             1.06
std_ic_t2t_mou_6             1.06
loc_ic_t2f_mou_6             1.06
og_others_6                  1.06
roam_og_mou_6                1.06
std_og_t2t_mou_6             1.06
loc_og_t2f_mou_6             1.06
loc_og_t2t_mou_6             1.06
loc_og_t2c_mou_6             1.06
std_og_t2c_mou_6             1.06
loc_og_mou_6                 1.06
roam_ic_mou_6                1.06
offnet_mou_6                 1.06
loc_og_t2m_mou_6             1.06
std_og_t2f_mou_6             1.06
std_og_t2m_mou_6             1.06
onnet_mou_6                  1.06
onnet_mou_7                  0.99
ic_others_7                  0.99
loc_og_t2t_mou_7             0.99
std_ic_t2t_mou_7             0.99
isd_ic_mou_7                 0.99
roam_og_mou_7                0.99
spl_ic_mou_7                 0.99
std_ic_t2m_mou_7             0.99
std_ic_mou_7                 0.99
roam_ic_mou_7                0.99
std_ic_t2f_mou_7             0.99
loc_ic_mou_7                 0.99
std_ic_t2o_mou_7             0.99
offnet_mou_7                 0.99
std_og_t2c_mou_7             0.99
loc_og_t2m_mou_7             0.99
loc_og_mou_7                 0.99
std_og_t2f_mou_7             0.99
std_og_mou_7                 0.99
loc_ic_t2f_mou_7             0.99
isd_og_mou_7                 0.99
std_og_t2t_mou_7             0.99
spl_og_mou_7                 0.99
og_others_7                  0.99
std_og_t2m_mou_7             0.99
loc_ic_t2m_mou_7             0.99
loc_og_t2f_mou_7             0.99
loc_ic_t2t_mou_7             0.99
loc_og_t2c_mou_7             0.99
std_og_t2o_mou               0.36
loc_ic_t2o_mou               0.36
loc_og_t2o_mou               0.36

                  Missing /Null %
Variables
loc_og_t2t_mou_8             3.12
roam_og_mou_8                3.12
std_og_t2c_mou_8             3.12
loc_ic_mou_8                 3.12
loc_og_t2m_mou_8             3.12
loc_ic_t2f_mou_8             3.12
loc_ic_t2m_mou_8             3.12
loc_og_t2f_mou_8             3.12
loc_ic_t2t_mou_8             3.12
loc_og_t2c_mou_8             3.12
og_others_8                  3.12
loc_og_mou_8                 3.12
spl_og_mou_8                 3.12
std_og_t2t_mou_8             3.12
isd_og_mou_8                 3.12
std_og_t2m_mou_8             3.12
std_og_mou_8                 3.12
std_ic_t2t_mou_8             3.12
std_og_t2f_mou_8             3.12
spl_ic_mou_8                 3.12
roam_ic_mou_8                3.12
ic_others_8                  3.12
std_ic_t2f_mou_8             3.12
offnet_mou_8                 3.12
std_ic_t2o_mou_8             3.12
isd_ic_mou_8                 3.12
onnet_mou_8                  3.12
std_ic_t2m_mou_8             3.12
std_ic_mou_8                 3.12
std_ic_t2m_mou_6             1.06
std_og_mou_6                 1.06
ic_others_6                  1.06
isd_og_mou_6                 1.06
isd_ic_mou_6                 1.06
spl_og_mou_6                 1.06
std_ic_mou_6                 1.06
spl_ic_mou_6                 1.06
loc_ic_t2t_mou_6             1.06
loc_ic_t2m_mou_6             1.06
std_ic_t2o_mou_6             1.06
loc_ic_mou_6                 1.06
std_ic_t2f_mou_6             1.06
std_ic_t2t_mou_6             1.06
loc_ic_t2f_mou_6             1.06
og_others_6                  1.06
roam_og_mou_6                1.06
std_og_t2t_mou_6             1.06
loc_og_t2f_mou_6             1.06
loc_og_t2t_mou_6             1.06
loc_og_t2c_mou_6             1.06
std_og_t2c_mou_6             1.06
loc_og_mou_6                 1.06
roam_ic_mou_6                1.06
offnet_mou_6                 1.06
loc_og_t2m_mou_6             1.06
std_og_t2f_mou_6             1.06
std_og_t2m_mou_6             1.06
onnet_mou_6                  1.06
onnet_mou_7                  0.99
ic_others_7                  0.99
loc_og_t2t_mou_7             0.99
std_ic_t2t_mou_7             0.99
isd_ic_mou_7                 0.99
roam_og_mou_7                0.99
spl_ic_mou_7                 0.99
std_ic_t2m_mou_7             0.99
std_ic_mou_7                 0.99
roam_ic_mou_7                0.99
std_ic_t2f_mou_7             0.99
loc_ic_mou_7                 0.99
std_ic_t2o_mou_7             0.99
offnet_mou_7                 0.99
std_og_t2c_mou_7             0.99
loc_og_t2m_mou_7             0.99
loc_og_mou_7                 0.99
std_og_t2f_mou_7             0.99
std_og_mou_7                 0.99
loc_ic_t2f_mou_7             0.99
isd_og_mou_7                 0.99
std_og_t2t_mou_7             0.99
spl_og_mou_7                 0.99
og_others_7                  0.99
std_og_t2m_mou_7             0.99
loc_ic_t2m_mou_7             0.99
loc_og_t2f_mou_7             0.99
loc_ic_t2t_mou_7             0.99
loc_og_t2c_mou_7             0.99
std_og_t2o_mou               0.36
loc_ic_t2o_mou               0.36
loc_og_t2o_mou               0.36

In [55]:
# all Columns 
list(tc_df.columns)
#categoricalcolumns 
print("Non Numeric",list(tc_df.select_dtypes(include='object').columns))
print("Numeric",list(tc_df.select_dtypes(exclude='object').columns))

Non Numeric ['date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8']
Numeric ['id', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou', 'arpu_6', 'arpu_7', 'arpu_8', 'onnet_mou_6', 'onnet_mou_7', 'onnet_mou_8', 'offnet_mou_6', 'offnet_mou_7', 'offnet_mou_8', 'roam_ic_mou_6', 'roam_ic_mou_7', 'roam_ic_mou_8', 'roam_og_mou_6', 'roam_og_mou_7', 'roam_og_mou_8', 'loc_og_t2t_mou_6', 'loc_og_t2t_mou_7', 'loc_og_t2t_mou_8', 'loc_og_t2m_mou_6', 'loc_og_t2m_mou_7', 'loc_og_t2m_mou_8', 'loc_og_t2f_mou_6', 'loc_og_t2f_mou_7', 'loc_og_t2f_mou_8', 'loc_og_t2c_mou_6', 'loc_og_t2c_mou_7', 'loc_og_t2c_mou_8', 'loc_og_mou_6', 'loc_og_mou_7', 'loc_og_mou_8', 'std_og_t2t_mou_6', 'std_og_t2t_mou_7', 'std_og_t2t_mou_8', 'std_og_t2m_mou_6', 'std_og_t2m_mou_7', 'std_og_t2m_mou_8', 'std_og_t2f_mou_6', 'std_og_t2f_mou_7', 'std_og_t2f_mou_8', 'std_og_t2c_mou_6', 'std_og_t2c_mou_7', 'std_og_t2c_mou_8', 'std_og_mou_6', 'std_og_mou_7', 'std_og_mou_8', 'isd_og_mou_6', 'isd_og_mou_7', 'isd_og_mou_8', 'spl_og_mou_6', 'spl_og_mou_7', 'spl_og_mou_8', 'og_others_6', 'og_others_7', 'og_others_8', 'total_og_mou_6', 'total_og_mou_7', 'total_og_mou_8', 'loc_ic_t2t_mou_6', 'loc_ic_t2t_mou_7', 'loc_ic_t2t_mou_8', 'loc_ic_t2m_mou_6', 'loc_ic_t2m_mou_7', 'loc_ic_t2m_mou_8', 'loc_ic_t2f_mou_6', 'loc_ic_t2f_mou_7', 'loc_ic_t2f_mou_8', 'loc_ic_mou_6', 'loc_ic_mou_7', 'loc_ic_mou_8', 'std_ic_t2t_mou_6', 'std_ic_t2t_mou_7', 'std_ic_t2t_mou_8', 'std_ic_t2m_mou_6', 'std_ic_t2m_mou_7', 'std_ic_t2m_mou_8', 'std_ic_t2f_mou_6', 'std_ic_t2f_mou_7', 'std_ic_t2f_mou_8', 'std_ic_t2o_mou_6', 'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8', 'std_ic_mou_6', 'std_ic_mou_7', 'std_ic_mou_8', 'total_ic_mou_6', 'total_ic_mou_7', 'total_ic_mou_8', 'spl_ic_mou_6', 'spl_ic_mou_7', 'spl_ic_mou_8', 'isd_ic_mou_6', 'isd_ic_mou_7', 'isd_ic_mou_8', 'ic_others_6', 'ic_others_7', 'ic_others_8', 'total_rech_num_6', 'total_rech_num_7', 'total_rech_num_8', 'total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8', 'max_rech_amt_6', 'max_rech_amt_7', 'max_rech_amt_8', 'last_day_rch_amt_6', 'last_day_rch_amt_7', 'last_day_rch_amt_8', 'vol_2g_mb_6', 'vol_2g_mb_7', 'vol_2g_mb_8', 'vol_3g_mb_6', 'vol_3g_mb_7', 'vol_3g_mb_8', 'monthly_2g_6', 'monthly_2g_7', 'monthly_2g_8', 'sachet_2g_6', 'sachet_2g_7', 'sachet_2g_8', 'monthly_3g_6', 'monthly_3g_7', 'monthly_3g_8', 'sachet_3g_6', 'sachet_3g_7', 'sachet_3g_8', 'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g', 'churn_probability', 'avg_amt_rech_6_7']